Flask==3.0.0
gunicorn
requests
httpx
aiohttp
urllib3
psutil
pytz
PyJWT
pycryptodome
protobuf
protobuf-decoder
python-telegram-bot==20.7
pyTelegramBotAPI
telebot
cfonts
colorama
rich
loguru
google
py7zr
aiogram
flask_cors
cachetools